torch==2.8.0
timm
pytorchvideo
torchvision
opencv-python
scikit-learn
pillow
imageio
imageio-ffmpeg
matplotlib
numpy
tqdm
av
einops
psutil
pytorch-metric-learning
fvcore
thop
transformers
huggingface_hub
gdown
umap-learn
